*  {
    box-sizing: border-box;
}

Html{
    background-color: blue;
}

footer{
    text-align: center;
    background-color: navy;
    color: lightcyan;
    padding: 30px;
    border: 5px solid lightcyan ;
}

header{
    color: lightcyan;
    text-align: center;
    padding: 20px lightcyan;
    border: 20px solid cyan;
}

img{
    border: 10px lightcyan;
    border-bottom-style: dotted;
    border-top-style: dotted;
    padding: 20px;
    background-color:darkturquoise;
    margin: 200px;
    width: 300px;
    height: 250px;
    border-left-style: groove;
    border-right-style: groove;
}